[[headers]]
  for = "/*.js"
  [headers.values]
    Content-Type = "text/javascript; charset=utf-8"

[[headers]]
  for = "/js/*.js"
  [headers.values]
    Content-Type = "text/javascript; charset=utf-8"
